# .NET
bin/
obj/
.vs/
*.user
*.suo

# Visual Studio Code
.vscode/

# Node / React
node_modules/
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log

# OS
.DS_Store
Thumbs.db